body{
    background-color: #011640;  
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-size: 16px;

}
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
  }
h1{
  color: #F2B999;
  font-family:"Cascadia Code"  
}
p{
    color: #F2A81D;
    font-family:"Cascadia Code";}
h1, p {
    margin: 1em auto;
    text-align: center;
  }
.Preguntas{
    background-color: #F2A81D;
}
label {
    display: block;
    margin: 0.5rem 0;
  }
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
  }
  
  input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
    min-height: 2em;
  }